@model List<Dealship.Models.Car>

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
}

<div class="video-container">
    <video autoplay loop muted playsinline id="bg-video">
        <source src="~/videos/video1.mp4" type="video/mp4">
        Ваш браузер не підтримує відео.
    </video>

    <div class="text-container">
        <h1>Інтернет-автосалон AUTOCAR</h1>
    </div>
</div>

<div class="text-section">
    <h2>Обирайте ваше авто</h2>

    <div class="options-row">
        <div class="option">
            <p>Нові автомобілі.</p>
            <button class="btn btn-primary">Знайти</button>
        </div>

        <div class="option">
            <p>Автомобілі з пробігом.</p>
            <button class="btn btn-primary">Знайти</button>
        </div>

        <div class="option">
            <p>Створіть своє авто.</p>
            <button class="btn btn-primary">Конфігуратор</button>
        </div>
    </div>
</div>

<div class="banner-section">
    @foreach (var car in Model)
    {
        <div class="car-banner">
            <img src="@Url.Content(car.Image)" alt="@car.Brand @car.Model" class="banner-img" />
            <div class="text-overlay">
                <h2>@car.Brand @car.Model</h2>
                <p>@car.Price грн</p>
                <a href="#" class="btn btn-primary">Дізнатися більше</a> 
            </div>
        </div>
    }
</div>

<hr />

<div class="choose-section d-flex align-items-center mt-4 ms-3">
    <span class="choose-label">Оберіть свій авто</span>
    <a asp-controller="Auto" asp-action="Index" class="choose-link ms-3">Автомобілі</a>
</div>
