@model Dealship.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Brand)</dt>
        <dd class="col-sm-10">@Model.Brand</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Model)</dt>
        <dd class="col-sm-10">@Model.Model</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Year)</dt>
        <dd class="col-sm-10">@Model.Year</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Price)</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Mileage)</dt>
        <dd class="col-sm-10">@Model.Mileage</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Image)</dt>
        <dd class="col-sm-10">
            <img src="@Model.Image" alt="Car Image" style="max-height:200px;" />
        </dd>

        <dt class="col-sm-2">Engine</dt>
        <dd class="col-sm-10">@Model.Engine?.Type</dd>

        <dt class="col-sm-2">Transmission</dt>
        <dd class="col-sm-10">@Model.Transmission?.Type</dd>

        <dt class="col-sm-2">Fuel Type</dt>
        <dd class="col-sm-10">@Model.FuelType?.Name</dd>

        <dt class="col-sm-2">Color</dt>
        <dd class="col-sm-10">@Model.Color?.Name</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
