@model IEnumerable<Dealship.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Cars</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Brand)</th>
            <th>@Html.DisplayNameFor(model => model.Model)</th>
            <th>@Html.DisplayNameFor(model => model.Year)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Mileage)</th>
            <th>@Html.DisplayNameFor(model => model.Image)</th>
            <th>Engine</th>
            <th>Transmission</th>
            <th>Fuel Type</th>
            <th>Color</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Brand</td>
                <td>@item.Model</td>
                <td>@item.Year</td>
                <td>@item.Price</td>
                <td>@item.Mileage</td>
                <td>
                    <img src="@item.Image" alt="Car Image" style="max-height:100px;" />
                </td>
                <td>@item.Engine?.Type</td>
                <td>@item.Transmission?.Type</td>
                <td>@item.FuelType?.Name</td>
                <td>@item.Color?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
